    <footer>
        <div id="footer">
            <div id="id_footer">
                <h1>[31538] 충남 아산시 순천향로 22 | TEL.041-530-1114 | FAX.041-542-4615</h1>
                <h1>[우편사서함]충남 아산시 시민로422 아산우체국사서함 32</h1>
                <div id="footer_1"><h1>&copy;2024 BY gobookgobook. ALL RIGHTS RESERVED.</h1></div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>