{{>layout/header}}

    <section>
        <!-- 이용방법 -->
        <div id="using_box">
            <div id="using">
                <h1 id="using_h1">이용 방법</h1>
            </div>
            <div id="sequence">
                <div id="sequence_one">
                    <img src="/img/entry.png" class="sequence_img">
                    <div>
                        <h1 class="sequence_h1">1. 입장하기</h1>
                        <h2 class="sequence_h2">회원가입 후 마이페이지 내에 있는 QR코드를 리더기에 인식합니다.</h2>
                    </div>
                </div>
                <div id="sequence_two">
                    <div>
                        <h1 class="sequence_h1" id="sequence_cart">2. 장바구니에 담기</h1>
                        <h2 class="sequence_h2" id="two_h2">결제 pc에 회원QR코드를 인식 시킵니다.
                            구매하고자 하는 도서를 결제pc에 한권 씩 인식 시켜 장바구니에 추가합니다.</h2>
                    </div>
                    <img src="/img/shoppingcart.png" class="sequence_img">
                </div>
                <div class="sequence_three">
                    <img src="/img/exit.png" class="sequence_img">
                    <h1 class="sequence_h1" id="three_h1">3. 퇴장하기</h1>
                    <h2 class="sequence_h2">출구에 있는 카메라에 회원 QR코드를 인식 시킵니다.</h2>
                </div>
            </div>
        </div>
    </section>


{{>layout/footer}}