<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>구매 이력</title>

</head>
<body class="nanum-gothic-regular">
<div class="purchase-history-container">
    <h2>당일 구매 이력</h2>
    <h1>빈 페이지</h1>
</div>
</body>
</html>
