<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>무카테고리 책장</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <style>
        .nanum-gothic-regular {
            font-family: 'GmarketSansMedium', sans-serif;
            font-weight: 100;
            font-style: normal;
            background-color: #cdcd;
        }

        @font-face {
            font-family: 'GmarketSansMedium';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        .background{
            margin: 100px auto;
            background-color: white;
            height: 550px;
            width: 700px;
            border: none;
            border-radius: 30px;
        }

        #id_h1{
            width: 700px;
            height: 150px;
            border-top: none;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            background-color: #F9EFDB;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 55px;
            font-weight: 500;
        }

        #background_h2{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 300px;
        }

        #id_h2{
            font-size: 50px;
            font-weight: 100;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            width: 75%;
        }
    </style>
</head>
<body class="nanum-gothic-regular">
    <div class="background">
        <h1 id="id_h1">알림</h1>
        <div id="background_h2">
            <h2 id="id_h2">해당 정보를 가진 도서를 찾을 수 없습니다.</h2>
        </div>
    </div>
    <script>
        setTimeout(function() {
            window.close();
        }, 5000);
    </script>
</body>
</html>