{{>layout/header}}

    <section>
        <div id="middleline">
            <div class="top">
                <div id="title_search">
                    <div class="search">
                        <input type="text" id="input_search" placeholder="검색어 입력">
                        <button type="submit" id="div2_button">
                            <i class="fa-solid fa-magnifying-glass" id="button_img"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mini_menubar_1">
                <div class="mini_menubar_2">
                    <ul class="mini">
                        <li class="mini_li"><a href="novel.html" class="mini_li_a">소설</a></li>
                        <li class="mini_li"><a href="Humanities.html" class="mini_li_a">인문</a></li>
                        <li class="mini_li"><a href="science.html" class="mini_li_a">과학</a></li>
                        <li class="mini_li"><a href="economy.html" class="mini_li_a">경제/경영</a></li>
                    </ul>
                </div>
            </div>
            <div class="one_background">
                <div id="one">
                    <div id="title">
                        <h1>도서 검색결과가 없습니다.</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{>layout/footer}}
