<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>입장</title>

    <link rel="stylesheet" href="/css/in.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>';
<body class="nanum-gothic-regular">
    <div class="background">
        <h1 id="id_h1">알림</h1>
        <div id="background_h2">
            <h2 id="id_h2">{{member.name}}님 환영합니다.</h2>
        </div>
    </div>
<!--    <script src="/js/scan_noCategory_wait.js"></script>-->
    <script>
        setTimeout(function() {
            window.close();
        }, 5000);
    </script>
</body>
</html>