@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body button {
    font-family: 'GmarketSansMedium';
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width:280px) {

    /*header*/
    .nanum-gothic{
        font-family: 'GmarketSansMedium';
        font-weight: 400;
        font-style: normal;
    }

    .fa-solid fa-bars{
        width: 20px;
        height: 20px;
        color: black;
    }

    #icon{
        color: black;
        display: none;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #cdcd;
        border-bottom: solid #E1E1E4 1px;
        margin-bottom: 10px;
    }

    .navbar_menu {
        list-style: none;
        display: flex;
        padding-left: 0;
        width: 40%;
    }

    .navbar_menu_ul{
        display: none;
        text-align: center;
        padding: 0;
    }

    .navbar_menu li:hover {
        background: white;
        border-radius: 3px;
    }

    .navbar_menu_ul{
        display: none;
        /* position: absolute; */
    }

    .navbar_menu ul li:hover {
        display: block;
    }

    #navbar_menu_li:hover .navbar_menu_ul{
        display: block;
    }

    .navbar_menu a{
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-weight: 900;
    }

    .navbar_menu li{
        padding: 10px 0;
        margin: 10px 0;
        list-style: none;
        width:110px;
        height: 20px;
    }

    .colorlogo{
        width: 20%;
        height: 80px;
    }

    #img_colorlogo{
        width: 160px;
        height: 80px;
    }

    .class_li{
        margin-left: 40px;
    }

    .mypage_ul{
        padding: 0;
        display: none;
    }

    .login{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
    }

    .login a{
        width: 75px;
        height: 25px;
        border: solid #DDDBE1;
        border-radius: 50px;
        background-color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-right: 15px;
    }

    #my{
        color: black;
        font-size: 14px;
    }

    #img_cart{
        margin-left: 5px;
        height: 17px;
        color: black;
    }

    #p_cart{
        margin-right: 5px;
        font-size: 12px;
        color: black;
        font-weight: 800;
    }

    .login_button{
        width: 60px;
        height: 30px;
        /* margin-right: 20px; */
        border-radius: 50px;
        color: black;
        border: solid 3px #DDDBE1;
        background-color: white;
        margin-right: 10px;
        padding-top: 5px ;
        padding-left: 10px;
    }

    .navbar_menu:hover .navbar_menu_ul{
        height: 250px;
        transition-duration: 1s;
    }




    /* section */
    /* Q&A */
    #top_qna{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px 0;
        width: 100%;
    }

    #top_qna_h1{
        font-weight: 100;
        text-align: center;
        border-bottom: solid 1px;
        width: 100px;
        padding-bottom: 10px;
    }



    /* title */
    #answer_title{
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        align-items: center;
    }

    #title_background{
        width: 80%;
        height: 100px;
        margin-left: 10px;
        border-top: solid 2px;
        border-bottom: solid 1px;
    }

    #title_h1{
        font-size: 18px;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 0;
    }

    #id-day{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #user_id{
        font-size: 16px;
        font-weight: 100;
        margin-right: 20px;
    }

    #day_time{
        font-size: 16px;
        font-weight: 100;
        margin-right: 7px;
    }




    /* content */
    #question_content{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    #content_background{
        width: 70%;
        height: 300px;
        margin-left: 10px;
    }

    #content_h1{
        font-size: 18px;
        font-weight: 400;
    }



    /* button */
    #answer_buttons{
        display: flex;
        justify-content: center;
        margin: 50px 10%;
        border-bottom: solid 2px ;
        padding-bottom: 50px;

    }

    #rewrite{
        margin: 0 10px;
        height: 40px;
        width: 100px;
        background-color: wheat;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 3px 3px 3px rgb(230, 208, 167);
    }

    #golist{
        margin: 0 10px;
        height: 40px;
        width: 120px;
        background-color: wheat;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 3px 3px 3px rgb(230, 208, 167);
    }

    #delete{
        margin: 0 10px;
        height: 40px;
        width: 100px;
        background-color: wheat;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 3px 3px 3px rgb(230, 208, 167);
    }


    /* answer */
    #manager_button{
        width: 50px;
        height: 50px;
        background-color: #f8c5a8;
        margin-right: 20px;
        border: solid #f7ba96;
        border-radius: 100%;
    }
    #answer{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 100px;
    }

    #answer_input{
        height: 50px;
        width: 50%;
        border-radius: 5px black;

    }





    /* 댓글버튼 */
    #write{
        display: flex;
        justify-content: center;
        width: 100%;
        margin:20px 26%;
    }

    #comment_button{
        width: 60px;
        height: 30px;
        border-radius: 10px;
        border: none;
        background-color: #FFF9D0;
        box-shadow: 0px 3px 3px 3px rgb(241, 225, 193);
    }




    /* comment */
    #comment_box{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #manager{
        margin: 65px 0;
    }

    #comment{
        display: flex;
        width: 80%;
        border-bottom: solid 1px;
        height: 100px;
    }

    #name{
        font-weight: 100;
        font-size: 17px;
        margin-left: 10px;
    }

    #comment_box_h1{
        display: flex;
        align-items: center;
        font-weight: 100;
        font-size: 17px;
        margin-left: 10px;
        height: 100%;
        width: 100%;
    }

    #comment_timeline{
        display: flex;
        /* justify-content: right; */
        margin: 0 10%;
        margin-top: 30px;
    }

    #name_admin{
        font-size: 15px;
        font-weight: 100;
        margin-left: 10px;
        margin-right: 20px;
    }

    #admin_comment_datetime{
        font-size: 15px;
        font-weight: 100;
    }




    /* admin comment button */
    .admin_comment_button{
        display: flex;
        justify-content: right;
        margin: 20px 10%;
    }


    .admin_delete{
        height: 30px;
        width: 60px;
        background-color: wheat;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 3px 3px 3px rgb(230, 208, 167);
    }
}


@media screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu{
        display:none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .navbar_menu ul li{
        width: 100%;
    }

    .navbar_menu li{
        width: 100%;
        text-align: center;
    }

    .colorlogo{
        display: none;
    }

    #icon{
        display: block;
    }

    .login{
        text-align: center;
        width: 100%;
        margin-top: 50px;
    }

    .class_cart{
        display: none;
    }

    .class_cart.active{
        display: flex;
    }

    .login_button{
        display: none;
        margin: none;
    }

    .navbar_menu.active{
        display: flex;
        width: 100%;
        height: 100%;
    }

    .login_button.active {
        display: flex; /* 활성화 상태에서 로그인 버튼을 보이게 합니다 */

    }

}