@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:0;
    color:#607274;
    background:#FEECE2;
    font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
    width:100%;
    margin:50px auto;
    max-width:525px;
    min-height:570px;
    position:relative;

    border-radius: 100px;

    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#logo_box{
    display: flex;
    justify-content: right;
    margin-top: 30px;
}

#login_logo{
    width: 170px;
    margin-top: 40px;
    margin-right: 40px;
}

.login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding:50px 55px 50px 55px;
    background:607274;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
    display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
    text-transform:uppercase;
}
.login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 30px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
    color:#607274;
    border-color:#607274;
}
.login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
}
.login-form .group{
    margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
    width:100%;
    color:#3C3633;
    display:block;
}
.login-form .group .input,
.login-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:white;
}
/* .login-form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
} */
.login-form .group .label{
    color:#607274;
    font-size:12px;
}
.login-form .group .button{
    margin-top: 50px;
    background:#FFBE98;
}
.login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
    color:#fff;
}
.login-form .group .check:checked + label .icon{
    background:#607274;
}
.login-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform:rotate(0);
}

.hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}
.foot-lnk{
    text-align:center;
}
div.group i{
    position: fixed;
    right: 20px;
    top: 120px;
}

#loadingBar {
    display: none; /* 기본적으로 숨겨져 있음 */
    position: fixed; /* 페이지 스크롤과 독립적으로 화면 중앙에 위치 */
    width: 40%;
    height: 30%;
    top: 95%; /* 상단에서부터 화면의 95% 위치, 화면 하단에 더 가깝게 */
    left: 50%; /* 왼쪽에서부터 화면의 50% 위치 */
    transform: translate(-50%, -50%); /* 위치 조정, 로딩바가 실제로 하단에 가까워지도록 조정 필요 */
    padding: 15px 10px;
    background-color: #fff; /* 배경색 */
    border: 1px solid #ddd; /* 테두리 */
    border-radius: 5px; /* 테두리 둥글게 */
    text-align: center; /* 텍스트 중앙 정렬 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    z-index: 1000; /* 다른 요소들 위에 표시 */
}

/* 로딩바 애니메이션 */
@keyframes loadingAnimation {
    0% {transform: translate(-50%, -50%) rotate(0deg);}
    100% {transform: translate(-50%, -50%) rotate(360deg);}
}

/* 로딩바에 애니메이션 적용 */
#loadingBar:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border: 4px solid #3498db; /* 로딩 색상 */
    border-radius: 50%; /* 원형 */
    border-top-color: transparent; /* 상단 색상 투명 */
    /* 위치 조정을 위한 스타일 변경 */
    position: absolute;
    top: 65%; /* 상단에서부터 50% 위치 */
    left: 50%; /* 왼쪽에서부터 50% 위치 */
    transform: translateX(-50%); /* X축 방향으로 -50% 이동 */
    animation: loadingAnimation 1s linear infinite; /* 애니메이션 적용 */
}