*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@media(min-width:280px) {

    .nanum-gothic-regular {
        font-family: 'NanumSquareNeo-Variable';
        font-weight: 400;
        font-style: normal;
        background-color: white;
    }

    /*검색어 입력부분*/
    .top {
        background-color: #FDF5E6;
        display: flex;
        justify-content: center;
        margin: 0px;
        padding-top:50px;
        padding-bottom: 50px;
    }

    #title_search {
        display: flex;
        border: solid;
        border-radius: 50px;
        /*border-radius: 100px;*/
        color: #000;
        width: 70%;
        height: 60px;
        margin-top:15px;
        background-color: white;
        border-width: 1.8px;
    }

    .search{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #input_search {
        border:none;
        border-radius: 100px;
        height: 45px;
        width: 65%;
        margin-left: 10px;
    }

    #div2_button {
        background-color: white;
        border: none;
        float: right;
        margin-right: 10px;
    }





    /* 중간메뉴바 부분 */
    .mini{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #cdcd;
        margin-bottom: 50px;
        padding: 0;
        height: 55px;
    }

    .mini_li{
        list-style: none;
    }

    .mini_li_a{
        text-decoration: none;
        padding: 0 10px;
        color: black;
        font-size: 13px;
    }


    /* 검색결과 없습니다 부분 */
    #one {
        background-color: white;
        display: flex;
        justify-content: stretch;
        border-top: solid #DDDBE1;
        margin: 15px;
        height: 1600px;
    }

    #title {
        margin: 0 30px;
    }

    #title h1 {
        font-family: 'NanumSquareNeo-Variable';
        margin-top: 20px;
        font-size: 20px;
    }

}

@media(min-width:990px) {

    /*검색어 입력부분*/
    #title_search{
        width:45%;
    }
}


